
{% extends "base.html" %}
{% block title %}BD-SHOP{% endblock %}

{% block content %}

<head>
    <style>
        body,html{
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            background: #e74c3c !important;
        }
    </style>
    <meta charset="UTF-8">
    <title>PRODUITS A ACHETER</title>
</head>

{% if session['test']%}
    <h3>Bonjour {{session['test']}}, </h3>
{% endif %}

<body>
    <h1>
        Voici nos nouveaux produits !
    </h1>
    <div id="products-container">

    </div>
</body>

{% endblock %}
