{% extends "base.html" %}
{% block title %}BD-SHOP{% endblock %}

{% block content %}

<html>
<head>
<title> Produits </title>

<header>


</header>
<body style="background-color: #e74c3c">
	<main>
	<link rel="stylesheet" href="static/fichierstyle.css">
<style>
table, th, td {
  border: 3px solid white;
  align-items:center;
  justify-content:center;

}
th{
	font-weight: bold;
	font-size: 1em;
	color:#333032;
}

td{
	color: white;

}

</style>

        {% if message %}
<div style="color: white; align-items: center">  {{ message }}</div>
        {% endif %}

<form action="description" method="get">

<table style="width:100%">
    <thead >

    <tr>
        <th> Nom du produit </th>
        <th> Type du produit </th>
        <th> Marque </th>
		<th> Prix $ </th>
		<th>Quantité</th>
		<th> Image </th>
    </tr>
    </thead>

    <tbody style="horizontal-align:center">

    {% for i in listed %}
            <tr style="height:100px">

                <td width="20%" style="color: black; font-weight: bold ">{{i[0]}}</td>
                <td width="10%">{{i[1]}}</td>
                <td width="10%">{{i[2]}}</td>
				<td width="5%">{{i[4]}}</td>
                <td width="5%">{{i[3]}}</td>
                <td width="20%" ><img src="{{i[5]}}"></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</form>
{% endblock %}