<body style="background-color:#ACA79A">
	<main>
	<link rel="stylesheet" href="static/fichierstyle.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
table, th, td {
  border: 2px solid #233F5C;
  align-items:center;
  justify-content:center;

}
th{
	font-weight: bold;
	font-size: 1em;
	color:#333032;
}

td{
	color:#233F5C;

}

</style>

        {% if message %}
<div style="color: #264662; align-items: center">  {{ message }}</div>
        {% endif %}

<form action="description" method="get">

<table style="width:100%">
    <thead >

    <tr>
        <th> Nom du produit </th>
        <th> Type du produit </th>
        <th> Marque </th>
		<th> Prix $ </th>
		<th>Quantité</th>
		<th> Image </th>
    </tr>
    </thead>

    <tbody style="horizontal-align:center">

    {% for produit in listed %}
            <tr style="height:100px">

                <td width="20%" style="color: #264662; font-weight: bold ">{{produit[0]}}</td>
                <td width="10%">{{produit[1]}}</td>
                <td width="10%">{{produit[2]}}</td>
				<td width="5%">{{produit[4]}}</td>
                <td width="5%">{{produit[3]}}</td>
                <td width="20%" ><img src="{{produit[5]}}"></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</form>

</main>
</body>