
{% extends "base.html" %}
{% block title %}BD-SHOP{% endblock %}

{% block content %}

<head>
    <style>
        body,html
        {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            background: #e74c3c !important;
        }
    </style>
</head>

<div align = "center">
<h1>
    Connectez-vous !
</h1>
    </br>
    </br>

<div class = "col-md-4">

<form id="form" class = "form-horizontal" action="/connection" method="post">

<br/>
    <div class="form-group">
        <input id="email-input" type="email" name = "email" style ="height: 40px" placeholder="Email" size = 48/>
    </div>

    <div class = "form-group">
        <input id="password-input" type="password" name = "password"  style ="height: 40px" placeholder="Mot de passe" size = 48/>
    </div>
<br/>

    <button class="btn btn-md btn-primary btn-block" type="submit"  style="width: 65%" onclick="onButtonLoginClick()">Connexion</button>
    <br/>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="form1" checked/>
        <label class="form-check-label" for="form1"> Sauvegarder </label>
    </div>

    <div class="col">
        <a href="forgot">Mot de passe oublié?</a>
    </div>

    <br/><br/><br/>
<div>
        <a href= "signIn">
    <p style="color:black">
    Vous n'avez pas de compte? Enregistrez-vous ici!
    </p>
        <button class="btn btn-md btn-primary btn-block" type="button" style="width: 65%" onclick="onButtonRegisterClick()">Inscription</button>
    </a>
</div>

    </form>
    </div>
    </div>
</div>
<!--<script>-->
<!--function onButtonRegisterClick(){window.location.href = "sign-in.html";}-->
<!--</script>-->


{% endblock %}

