<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>
<body>
    <h1>
        Entrez vos informations de compte:
    </h1>
    <input id="username-input" type="text" placeholder="Nom d'utilisateur"/>
    <input id="password-input" type="text" placeholder="Mot de passe"/>
    <button type="button" onclick="onButtonClick()">Se connecter</button>
    <div>
        Vous n'avez pas de compte? Enregistrez-vous ici!
    </div>
    <button type="button" onclick="onButtonClick()">S'enregistrer</button>
</body>
</html>