{% extends "base.html" %}
{% block title %}BD-SHOP{% endblock %}

{% block content %}
<html>
<head>
	<title>BD-Shop</title>
	<link href="/static/produitpanier.css" rel="stylesheet" type="text/css" />
</head>
<body>

	<div id="panier">
		<div class="texte-panier"><h1>Votre Panier</h1></div>
		{% if 'cart_item' in session %}
			<a id="vider-bouton" href="{{ url_for('.empty_cart') }}">Vider le panier</a>
			<table class="table-panier" cellpadding="10" cellspacing="1">
			<tbody>
				<tr>
					<th style="text-align:left;">Name</th>
					<th style="text-align:left;">Code</th>
					<th style="text-align:right;" width="5%">Quantity</th>
					<th style="text-align:right;" width="10%">Unit Price</th>
					<th style="text-align:right;" width="10%">Price</th>
					<th style="text-align:center;" width="5%">Remove</th>
				</tr>
				{% for key, val in session['cart_item'].items() %}
					{% set quantity = session['cart_item'][key]['quantity'] %}
					{% set price = session['cart_item'][key]['price'] %}
					{% set item_price = session['cart_item'][key]['total_price'] %}
					<tr>
						<td><img src="/static/images/{{ session['cart_item'][key]['image'] }}" class="image-objet-panier" />{{ session['cart_item'][key]['name'] }}</td>
						<td>{{ session['cart_item'][key]['code'] }}</td>
						<td style="text-align:right;">{{ quantity }}</td>
						<td  style="text-align:right;">$ {{ price }}</td>
						<td  style="text-align:right;">$ {{ item_price }}</td>
						<td style="text-align:center;">
							<a href="{{ url_for('.delete_product', code=session['cart_item'][key]['code']) }}" class="retirer-bouton">
								<img src="/static/images/delete.png" alt="Retirer du panier" />
							</a>
						</td>
					</tr>
				{% endfor %}
				<tr>
					<td colspan="2" align="right">Total:</td>
					<td align="right">{{ session['all_total_quantity'] }}</td>
					<td align="right" colspan="2"><strong>$ {{ session['all_total_price'] }}</strong></td>
					<td></td>
				</tr>
			</tbody>
			</table>
		<div align = "center">
		<a id="go-livraison" href="livraison">
			</br>
		<button class="btn btn-md btn-primary btn-block" type="button" style="width: 40%" > Confirmer paiement</button>
		</a>
			</div>
		{% else: %}
			<div class="panier-vide">Votre panier est vide</div>
		{% endif %}
	</div>

	<div id="section-produit">
		<div class="texte-produit"><h1>Produits </h1>  </div>

		{% for product in products %}

			<div class="case-produit">
				<form method="post" action="/add">
					<div class="image-produit"><img src="/static/images/{{ product.image }}"></div>
					<div class="footer-produit">
						<div class="titre-produit">{{ product.name }}</div>
						<div class="prix-produit">$ {{ product.price }}</div>
						<div class="desc-produit">$ Taille: {{ product.taille }}</div>
						<div class="ajout-panier">
							<input type="hidden" name="code" value="{{ product.code }}"/>
							<input type="text" class="quantite-produit" name="quantity" value="1" size="2" />
							<input type="submit" value="Ajouter au panier" class="bouton-ajouter-panier" />
						</div>
					</div>
				</form>
			</div>

		{% endfor %}


	</div>
</body>

{% endblock %}

