
{% extends "base.html" %}
{% block title %}BD-SHOP{% endblock %}

{% block content %}

<head>
    <style>
        body,html{
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            background: #e74c3c !important;
        }
 .carousel-inner > .item > img {
  width:340px;
  height:360px;
}
    </style>
    <meta charset="UTF-8">
    <title>PROMOTIONS</title>
</head>
<body>


    <div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <img id = "image1" class="d-block w-100" src="https://wallpapercave.com/wp/wp2516062.jpg" alt="First slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Air Huarache</h3>
                    <p>Vous allez avoir un look d'enfer</p>
                </div>
            </div>
            <div class="carousel-item">

                <div class="view">
                    <img class="d-block w-100" src="https://cdn.sanity.io/images/c1chvb1i/production/33cbcdb3fdcbf46ce83af902151d2a1e4fe2ed71-1100x735.jpg" alt="Second slide">
                    <div class="mask rgba-black-strong"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Air Jordan 6</h3>
                    <p>Mets ces Jordans pour attirer Marianne :D</p>
                </div>
            </div>
            <div class="carousel-item">

                <div class="view">
                    <img class="d-block w-100" src="https://images.squarespace-cdn.com/content/v1/558e0f31e4b0475f86c688ca/1608166189128-FJQUN1WY1Y3HL2JJCWKV/ke17ZwdGBToddI8pDm48kFWxnDtCdRm2WA9rXcwtIYR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UcTSrQkGwCGRqSxozz07hWZrYGYYH8sg4qn8Lpf9k1pYMHPsat2_S1jaQY3SwdyaXg/FOOSH-AirMax95OG-Neon-Dec16-8.jpg" alt="Third slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Air Max 95</h3>
                    <p>Achete ces Air Max pour booster ton swag au max :O</p>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>




</body>

{% endblock %}
