{% extends "base.html" %}
{% block title %}BD-SHOP{% endblock %}

{% block content %}


<html>
<head>
<title>Mettre en vente un item</title>
<link rel="stylesheet" href="../static/vente.css" type="text/css" />
</head>
<body>
<div style="background-color: #e74c3c">
<div class="limiter">
    <div class="inputsection">
        <form action = "sellPage" method = "post">
        <div class="wrap-login p-t-50 p-b-90">
					<span class="login100-form-title p-b-51">
						Vendre un produit
                    </span>
            <div id="cliquerpourimage">
            <input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;">
            <p><label class=labelImage for="file" style="cursor: pointer;">Cliquez ici pour charger une image</label></p>
            <img src="" id="output" width="200" />
            <script>
                var loadFile = function(event) {
                    var image = document.getElementById('output');
                    image.src = URL.createObjectURL(event.target.files[0]);
                };
            </script>
            </div>
            <label class="labelUser">Nom du produit</label>
            <div class="wrap-input validate-input m-b-16">
                <input id="itemName" class="input" type="text" name="itemName" minlength="10" maxlength="50" placeholder="Entrer le nom du produit">
                <span class="focus-input"></span>
            </div>

            <label class="labelUser">Genre</label>
            <div class="wrap-input validate-input m-b-16">
                <input id="itemGenre" class="input" type="text"  name="itemGenre" maxlength="5" placeholder="Entrer le genre du produit">
                <span class="focus-input"></span>
            </div>

            <label class="labelUser">Taille</label>
            <div class="wrap-input validate-input m-b-16">
                <input id="itemSize" class="input" type="text"  name="itemSize" maxlength="20" placeholder="Entrer la grandeur du produit">
                <span class="focus-input"></span>
            </div>
            <label class="labelUser">Description détaillée</label>
            <div class="wrap-input validate-input m-b-16">
                <textarea id="itemDescription" class="input" type="text" cols="40" name="itemDescription" minlength="40"  maxlength="200"  placeholder="Décrire le produit"></textarea>
                <span class="focus-input"></span>
            </div>

            <label class="labelUser">Quantité</label>
            <div class="wrap-input validate-input m-b-16">
                <input id="itemQty" class="input" type="text" name="itemQty" placeholder="Entrer la quantité" maxlength="3"
                       onkeypress = "return (event.charCode > 47 && event.charCode < 58)">
                <span class="focus-input"></span>
            </div>

            <label class="labelUser">Prix</label>
            <div class="wrap-input validate-input m-b-16">
                <input id="itemPrice" class="input" type="text" name="itemPrice" placeholder="Entrer le prix du produit" maxlength="10"
                       onkeypress = "return (event.charCode > 47 && event.charCode < 58)">
                <span class="focus-input"></span>
            </div>


            <div class="container-login-form-btn m-t-17">
                      <input class="login-form-btn" type="submit" value="Publier">
            </div>



        </div>
        </form>
        </div>
    </div>
    </div>
<div id="dropDownSelect1"></div>

</body>
</html>
{% endblock %}