<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block title %}BD-SHOP{% endblock %}

{% block content %}

<head>
    <style>
        body,html{
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            background: #e74c3c !important;
        }
    </style>
    <meta charset="UTF-8">
    <title>PROMOTIONS</title>
</head>
<body>
<h1>
    Changez vos parametres de compte!
</h1>
<div id="products-container">

</div>
</body>
</html>
{% endblock %}