<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enregistrement</title>

    <script src="../static/app.js"></script>
</head>
<body>
    <h1>
        Choisir votre nom d'utilisateur et votre mot de passe:
    </h1>
    <input id="username-input" type="text" placeholder="Nom d'utilisateur"/>
    <input id="password-input" type="text" placeholder="Mot de passe"/>
    <button type="button" onclick="onButtonClick()">S'enregistrer</button>

    <div id="username-container">

    </div>

    <div>
        Vous avez déjà un compte? Connectez-vous ici!
    </div>
    <button type="button" onclick="onButtonClick()">Connexion</button>
</body>
</html>